.main-bg{
  height:300px;
  background-image:url('https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
  background-size:cover;
  background-position: center;
}
.pro-wrap .row {
  display:grid !important;
  grid-template-columns: 1fr 1fr 1fr;
}

.pro-wrap .row a {
  text-decoration: none;
  color:#000;
}

